@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0;
  font-family: "Rubik";
}

.main-heading {
  @apply font-semibold text-5xl pb-5 md:text-7xl;
  background: -webkit-linear-gradient(#c0a7c2, #4b2255);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purple-button {
  @apply py-[6px] px-[25px] text-white rounded-[4px] border-none bg-[linear-gradient(to_bottom_left,#7b507e,#4b2255)] hover:bg-[linear-gradient(to_top_right,#7b507e,#4b2255)] hover:shadow-lg;
}

.box-shadow-1 {
  @apply shadow-[rgba(149,157,165,0.2)_0px_8px_24px];
}
.box-shadow-2 {
  @apply shadow-[rgba(99,99,99,0.2)_0px_2px_8px_0px];
}
.declined {
  @apply bg-red-200 text-red-800;
}
.pending {
  @apply bg-yellow-200 text-yellow-800;
}
.interview {
  @apply bg-purple-200 text-purple-950;
}
